*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
header
{
    background-color: antiquewhite;
}
header > h1{
    color:#3e5170;
    text-align:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.score-board
{
    border:2px solid white;
    width:200px;
    height:100px;
    margin-left: 580px;
    margin-top: 20px;
    color:antiquewhite;
    font-size:20px; 
    text-align: center;
    padding:15px 10px;
    position: relative;
}
.badge
{
    background:#e09558;
    font-size:15px;
    padding:3px 12px;
}
#user-label
{
   position:absolute;
   top:35px;
   left:-33px; 
}
#comp-label
{
   position:absolute;
   top:35px;
   right: -33px; 
}
.result
{
    font-size:30px;
    color:antiquewhite;
}
#res1
{
    text-align: center;
    font-weight: bold;
    padding-top:13px;
}
.choices
{
    margin:50px 0;
    text-align:center;
}

.choice{
  display:inline-block;
  border:2px solid white;
  border-radius: 50%;
  padding:15px;
  margin:0 15px;
  transition: all 0.3s ease;
  
}

.choice >img{
    border-radius: 50%;
}
.choice:hover{
    background-color: #e3c946;
    cursor:pointer;
    transform:scale(1.1);
}
#mov
{
    text-align:center;
    color:antiquewhite;
    font-weight: bold;
    font-size:30px;
}
#comp-score
{
    position:absolute;
    top:35px;
    right: 70px; 
    font-size:30px;
}
#us-score
{
    position:absolute;
    top:35px;
    left: 70px; 
    font-size:30px;
}
#col
{
    position:absolute;
    top:35px;
    left: 95px; 
    font-size:30px;
}
.green
{
    border:2px solid #4dcc7d;
    box-shadow:0 0 20px #31b43a;
}
.red{
    border:2px solid #fc121b ;
    box-shadow:0 0 20px #d01115;
}
.grey{
    border:2px solid  #a0b9db;
    box-shadow:0 0 20px #6c83a3;
}